@import '../../styles/modules/root';

.post-card-wrapper {
  column-count: 3;
  column-span: all;
}

.post-card-item {
  break-inside: avoid-column;
  display: inline-table;
  height: 500px;

    h2 {
      font-size: em-calc(24);
      color: $purple;
      padding: $globalGap;
    }
}

.post-card-coverImage {
  width: 100%;
  
}