@import '../../styles/modules/root';

.post-card-wrapper {
  column-count: 3;
  column-span: all;
}

.post-card-item {
  break-inside: avoid-column;
  display: inline-table;
  height: 500px;


}

.post-card-title {
  font-size: em-calc(24);
  margin-bottom: rem-calc(24);

}

.post-card-excerpt {
  margin-bottom: rem-calc(24);
}

.post-card-content {
  padding: $globalGap;
}

.post-card-coverImage {
  width: 100%;

}